body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff29;
    color: #333;
    line-height: 1.6;
}

h1, h2 {
    font-weight: 700;
}

h1 {
    font-size: 3rem;
    color: #ffffff;
}

h2 {
    font-size: 1.5rem;
    color: #444;
    margin-bottom: 0.5rem;
}

p {
    font-size: 1.1rem;
    color: #ffffff;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #fff; 
    object-fit: cover; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    background: linear-gradient(to bottom, #65848d, #000000);
    text-align: center;
    padding: 6rem;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 1);
}

header h1 {
    margin-bottom: 1px;
}

header p {
    font-size: 1.2rem;
    margin-bottom: 2px;
    color: #ffffff;
}

/* ContactMe button */
header a {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    background-color: #ffffff;
    color: #000000;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background 0.3s ease, transform 0.3s ease;
}

header a:hover {
    background-color: #004da8;
    color: #ffffff;
    transform: translateY(-5px);
}

/* .modal is the modal that appears after clicking Contact Me */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.849);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    border-radius: 10px;
    padding: 2rem;
    width: 90%;
    max-width: 500px;
    text-align: center;
}

.modal-content h2 {
    margin-bottom: 1.5rem;
}

.modal-content .button-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
    
}

.modal-content .button-container button {
    padding: 0.8rem 1.5rem;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
    max-width: 150px;
}

.modal-content .button-container button:hover {
    background-color: #004da8;
    transform: translateY(-5px);
    
}

.modal-content button.close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    background-color: rgb(169, 0, 0);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-content button.close:hover {
    background: #500000;
}

/* backToTop button */
#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: transform 0.3s ease;
}

#back-to-top:hover {
    background-color: #004da8;
    color: #ffffff;
    transform: translateY(-5px);
}

/* .container are the bubbles that display experience info */
.container {
    max-width: 1200px;
    margin: 3rem auto;
    padding: 0 1.5rem;
}

.section {
    margin-bottom: 4rem;
}

.section-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.section-content div {
    flex: 1 1 calc(50% - 1rem);
    background: #c1c1c138;
    border-radius: 35px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.section-content div:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    transform: translateY(-3px);
}

.section-content div h3 {
    font-size: 1.3rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.section-content div p {
    font-size: 1rem;
    color: #666;
}

/* Weblinks */
a {
    color: #3b58da;
    text-decoration: none;
    transition: color 0.3s ease;
}

/* Weblinks hover */
a:hover {
    color: #afafaf;
}

footer {
    text-align: center;
    padding: 2rem 1rem;
    background: #f4f4f4;
    color: #777;
    font-size: 0.9rem;
}